<div class="container">
  <div class="row">
    <p></p>
  </div>
  <div class="row">
    <div class="col">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Authors', authors_path %></li>
          <li class="breadcrumb-item active">View</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1><%= @page_title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @author do |f| %>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field(:first_name, class: 'form-control', disabled: true) %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field(:last_name, class: 'form-control', disabled: true) %>
        </div>
      <% end %>
      <%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
