<div class="container">
  <div class="row">
    <div class="col">
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Publishers', publishers_path %></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1><%= @page_title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_with model: @publisher do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field(:name, class: 'form-control') %>
        </div>
        <%= f.submit('Update', class: 'btn btn-primary') %>
      <% end %>
    </div>
  </div>
</div>
