<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Ruby Book Store!</h1>
    <p>This is a store where you can buy books related to different programming languages (e.g. Ruby) and related tools,
      frameworks - in one word "All things programming".</p>
    <p><%= link_to 'Learn more »', about_path, class: 'btn btn-secondary btn-lg' %></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <% @books.each do |book| %>
    <div class="row">
      <div class="col">
        <h2><%= book.title %></h2>
        <h4>By <%= book.author.name %> (<%= book.year %>)</h4>
        <p><%= truncate(book.exceprt, length: 150) %></p>
        <p><%= link_to "Read more »", book_path(book), class: "btn btn-primary" %></p>
      </div>
    </div>
  <% end %>

</div> <!-- /container -->